body{
    color: white;
    background-color: rgb(15, 15, 15);
   
}
p{
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    text-align: center;
    font-size: 40px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img{
    width: 1000px;
    height: 700px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
    
