body{
    color: white;
    background-color: rgb(15, 15, 15);
   
}
ul{
    font-size: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
img{
    height: 1000px;
}
